* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, sans-serif;
	margin: 1.5rem 1.5rem;

}

.main-content {
	display: grid;
	gap: .5em;
	width: 100%;
	margin-bottom: 7rem;
}


.alert-info, h1, nav, .header-img {
	text-align: center;
}

.alert-info {
	border: 1px solid grey;
	background-color: hsl(180, 100%, 90%);
	padding: 1.2rem;
}

.alert-info a {
	text-decoration: none;
	color: black;
	font-size: 14px;
	letter-spacing: 1px;
}

h1 {
	font-size: 3.5rem;
	font-weight: 600;
	letter-spacing: 1px;
}

ul {
	list-style: none;
}

li {
	background-color: rgb(204, 204, 204);
	padding: 1.3rem 0;
	margin: 1rem 0 1rem;
}

li a {
	font-size: 1.2rem;
}

img {
	width: 100%;
}

.main h2	{
	font-size: 2rem;
}

.main, .sub-section {
	display: grid;
	gap: .5rem;
}

.main {
	margin: 1.3rem 0 3rem;
}

.sub-section {
	font-style: italic;
}

footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

footer p {
	font-size: 1rem;
	margin: auto 0;
}
.key {
	height:2rem;
	width: 2rem;
}


@media screen and (min-width: 1000px)  {
	body {
		margin: 3rem;
	}

	.main-content {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.heading-content {
		display: grid;
		grid-template-columns: 3fr 1fr;
		margin: 0;
	}

	/*.header-img {
		grid-column: 1 / 2;
	}*/

	h1 {
		text-align: left;
		font-size: 4.5rem;
		margin: 0;
	}

	nav {
		width: 100%;
	}

	ul {
		display: flex;
		justify-content: space-between;
	}

	li {
		background-color: transparent;
	}

	li a {
		font-size: 1.3rem;
		margin: 5px;
	}

	.alert-info {
		display: none;
	}
	.header-img{
		margin-top: 3rem ;
	}

	.articles {
		display: grid;
		grid-template-columns: 70% auto;
	}

	.articles h2 {
		font-size: 2.5rem;
	}

	.articles p {
		font-size: 1.0rem;
	}

	.main {
		gap: 0;
		margin: 0;
		padding-right: 5rem;

	}

}














